<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Layout from /layouts/drc/blog-post.hbs. Rendered by Deconst</title>
</head>
<body>
  {{{drc/header.hbs}}}
  {{{body}}}
  {{{footer.hbs}}}
</body>
</html>
